pandas
numpy
scikit-learn
torch
transformers
nltk
kagglehub
kaggle
jupyter
pytest
black
flake8
python-dotenv
pyyaml
fastapi
uvicorn
django
channels
channels-redis
uvicorn
daphne
django-cors-headers
djangorestframework
djangorestframework-simplejwt
matplotlib
seaborn
sentence-transformers
sqlalchemy
alembic
psycopg2-binary