pandas
numpy
scikit-learn
torch
transformers
nltk
kagglehub
kaggle
jupyter
pytest
black
flake8
python-dotenv
pyyaml
fastapi
uvicorn
django
channels
channels-redis
uvicorn
daphne
django-cors-headers
djangorestframework
djangorestframework-simplejwt
matplotlib
seaborn
sentence-transformers
sqlalchemy
alembic
psycopg2-binary
aiohttp>=3.9.5
asyncpg>=0.29.0
cohere>=5.6.2
langchain>=0.2.10
langchain-community>=0.2.9
langchain-core>=0.2.22
langchain-openai>=0.1.17
llama-index>=0.10.58
llama-index-core>=0.10.58
llama-index-postprocessor-cohere-rerank>=0.1.7
llama-index-vector-stores-postgres>=0.1.12
openai>=1.36.1
pgvector>=0.2.5
pydantic>=2.7.4
pydantic-settings>=2.3.4
llama-index-llms-langchain
langchain-openai